@import url(https://fonts.googleapis.com/css?family=Nunito);[type=range] {
  -webkit-appearance: none;
  margin: 33px 0;
  width: 100%;
}

[type=range]:focus {
  outline: 0;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #b8db00;
}

[type=range]:focus::-ms-fill-lower {
  background: #b8db00;
}

[type=range]:focus::-ms-fill-upper {
  background: #b8db00;
}

[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 26px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: #b8db00;
  border: 5px solid #a3bd31;
  border-radius: 35px;
}

[type=range]::-webkit-slider-thumb {
  background: #a3bd31;
  border-radius: 50%;
  cursor: pointer;
  height: 66px;
  width: 66px;
  border: 11px solid #b8db00;
  -webkit-appearance: none;
  margin-top: -25px;
}

[type=range]::-moz-range-track {
  cursor: pointer;
  height: 26px;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: #b8db00;
  border: 5px solid #a3bd31;
  border-radius: 35px;
}

[type=range]::-moz-range-thumb {
  background: #a3bd31;
  border-radius: 50%;
  cursor: pointer;
  height: 66px;
  width: 66px;
  border: 11px solid #b8db00;
}

[type=range]::-ms-track {
  cursor: pointer;
  height: 26px;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 33px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  background: #b8db00;
  border: 5px solid #a3bd31;
  border-radius: 70px;
}

[type=range]::-ms-fill-upper {
  background: #b8db00;
  border: 5px solid #a3bd31;
  border-radius: 70px;
}

[type=range]::-ms-thumb {
  background: #a3bd31;
  border-radius: 50%;
  cursor: pointer;
  height: 66px;
  width: 66px;
  border: 11px solid #b8db00;
  margin-top: 0;
}

